@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1c;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: min(100% - 4rem, 1200px);
  margin-inline: auto;
}

input,
textarea {
  color: #1c1c1c;
  padding-left: 0.25em;
  border-radius: 0.25em;
}

button {
  color: #1c1c1c;
}

:not(#main-page) {
  h1 {
    font-size: x-large;
  }
}