@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #00091a;
  --foreground: #ededed;
}


body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main,
nav {
  margin-inline: auto;
}

main {
  width: min(100% - 4rem, 40rem);
}

nav {
  width: min(100% - 4rem, 1200px);
}

input,
textarea {
  color: #1c1c1c;
  padding-left: 0.25em;
  border-radius: 0.25em;
}

button {
  color: #1c1c1c;
}

main:not(#main-page) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    line-height: 1.5rem;
    margin-block-end: 2.25rem;
  }
}